<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.test.dao.MybatisOneMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.test.model.MybatisOne" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="m_name" property="mName" jdbcType="VARCHAR" />
    <result column="m_age" property="mAge" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, m_name, m_age
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mybatisdemo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mybatisdemo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.test.model.MybatisOne" >
    insert into mybatisdemo (id, m_name, m_age
      )
    values (#{id,jdbcType=BIGINT}, #{mName,jdbcType=VARCHAR}, #{mAge,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.test.model.MybatisOne" >
    insert into mybatisdemo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mName != null" >
        m_name,
      </if>
      <if test="mAge != null" >
        m_age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mName != null" >
        #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mAge != null" >
        #{mAge,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.test.model.MybatisOne" >
    update mybatisdemo
    <set >
      <if test="mName != null" >
        m_name = #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mAge != null" >
        m_age = #{mAge,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.test.model.MybatisOne" >
    update mybatisdemo
    set m_name = #{mName,jdbcType=VARCHAR},
      m_age = #{mAge,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>